@media screen and (min-width:480px)
{
	.absolute_container
	{
	    display:none;
		border:none;
	}
}
	
@media screen and (max-width:480px)
	body
	{
		background-color:rgba(240,240,240,1);
		color:rgba(255,143,0,1);
		border:none;
	}
	
	h1
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	h2
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	h3
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	h4
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	h5
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	h6
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	p
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	.containment
	{
		width:100%;
		margin:auto;
		border:none;		
	}
	
	.containment:hover
	{
		border:none;	
	}