@media screen and (min-width:480px)
{
	.absolute_container
	{
	    display:none;
		border:none;
	}
}
	
@media screen and (min-width:480px)
{
	body
	{
		margin:auto;
		padding:0%;
		background-color:rgba(240,240,240,1);
		color:rgba(255,143,0,1);
		border:none;
	}
	
	h1, h2, h3, h4, h5, h6, p
	{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	.containment
	{
		width:100%;
		margin:auto;
		padding:0%;
		float:left;
		clear:both;
		border:none;		
	}
}