@media screen and (min-width:480px)
{
	.main
	{
		width:100%;
		height:auto;
		background-color:rgba(245,245,245,1);
		overflow:hidden;
		border:0px solid black;
		float:left;
		clear:both;
	}

	.main:hover
	{
		border-color:rgb(255,153,0);
	}
	
	.main > h1
	{
		text-align:center;
		margin:auto;
		color:rgb(255,143,0);
		border-bottom:3px solid rgb(255,143,0);
	}
}