@media screen and (min-width:480px)
{
.faculty
{
	width:100%;
	float:left;
	margin:auto;
	padding:0%;
	background-color:rgba(30,30,30,1.0);
}

.faculty div
{
	width:99%;
	margin:auto;
	padding:0%;
	float:none;
	clear:both;
	transition:none;
}

.faculty div div
{
	text-align:center;
	margin:1% auto;
	width:98%;
	float:left;
	padding:1%;
	background-color:rgba(50,50,50,1.0);
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.25);
	transition:box-shadow 1s;
	transition-timing-function:cubic-bezier(0.25,1.0,0.25,1.0);
}

.faculty div div:nth-child(odd) div:nth-child(even)
{
	width:70%;
	background-color:rgb(70,70,70);
	clear:right;
	margin:auto;
	padding:0%;
}

.faculty div div:nth-child(even) div:nth-child(even)
{
	width:70%;
	background-color:rgb(70,70,70);
	float:right;
	clear:left;
	margin:auto;
	padding:0%;
}

.faculty div div:nth-child(odd) img
{
	width:25%;
	min-width:250px;
	float:left;
	clear:left;
	margin:auto 5% 1% 0%;
	padding:0%;
	background-color:rgba(70,70,70,1.0);
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.25);
	transition:none;
}

.faculty div div:nth-child(even) img
{
	width:25%;
	min-width:250px;
	float:right;
	clear:right;
	margin:auto 0%1% 5%;
	padding:0%;
	background-color:rgba(70,70,70,1.0);
	box-shadow:0px 0px 10px 2px rgba(0,0,0,0.25);
	transition:none;
}

.faculty div:hover
{
	box-shadow:0px 0px 5px 2px rgba(255,143,0,1);
}

}