@media screen and (min-width:480px)
{
	.login_form
	{
		width:25%;
		height:auto;
		background-color:rgb(30,30,30);
		border:2px solid rgb(200,100,0);
		color:rgb(255,143,0);
		margin:1% auto;
		transition:border-color 1.5s,background-color 1.5s;
	}
	
	.login_form:hover
	{
		border-color:rgb(255,143,0);
		background-color:rgb(40,40,40);
	}
	
	.login_form tbody tr td:first-child
	{
		text-align:center;
		border-right:2px solid rgb(255,143,0);
	}
	
	
	.login_form tbody tr td input[type = text]
	{
		width:75%;
		background-color:rgb(50,50,50);
		color:rgb(255,153,0);
		border:2px solid rgb(255,153,0);
		border-color:rgb(230,143,0);
		transition:border-color 1s;
	}
	
	.login_form tbody tr td input[type = text]:hover
	{
		border-color:rgb(255,153,0);
	}
	
	.login_form tbody tr td input[type = text]:focus
	{
		outline-color:rgb(255,153,0);
	}
	
	.login_form tbody tr td input[type = password]
	{
		width:75%;
		background-color:rgb(50,50,50);
		color:rgb(255,153,0);
		border:2px solid rgb(230,143,0);
		border-color:rgb(230,143,0);
		transition:border-color 1s;
	}
	
	.login_form tbody tr td input[type = password]:hover
	{
		border-color:rgb(255,153,0);
	}
	
	.login_form tbody tr td textarea
	{
		background-color:rgb(50,50,50);
		border :2px solid black;
		border-color:rgb(230,143,0);
		color:rgb(255,153,0);
		transition:border-color 1s;
	}
	
	.login_form tbody tr td textarea:hover
	{
		border-color:rgb(255,153,0);
	}
	
	.login_form tbody tr td input[type = submit]
	{
		background-color:rgb(30,30,30);
		border:2px solid black;
		border-color:rgb(230,143,0);
		color:rgb(255,153,0);
		transition:border-color 1s, background-color 1s;
	}
	
	.login_form tbody tr td input[type = submit]:hover
	{
		background-color:rgb(50,50,50);
		border-color:rgb(230,143,0);
	}
	
	.login_form tbody tr td input[type = password]:hover
	{
		border-color:rgb(255,153,0);
	}
}