@media screen and (min-width:480px)
{
	.res_form
	{
		width:100%;
		float:left;
		clear:both;
		margin:auto;
		padding:0%;
		background-color:rgba(30,30,30,1);
		color:rgba(255,143,0,1);
	}
	
	.res_form div
	{
		width: 50%;
		margin:auto;
		padding:0%;
		clear:both;
		float:none;
	}
	
	.res_form div div
	{
		width:99%;
		margin:1% auto;
		float:left;
		padding:1%;
		clear:both;
		background-color:rgba(50,50,50,1.0);
	}
	
	.res_form div div div
	{
		width:98%;
		margin:1% auto;
		float:left;
		padding:1%;
		clear:both;
		background-color:rgba(70,70,70,1.0);
	}
	
	.res_form div div div h2
	{
		width:auto;
		height:auto;
		float:left;
		clear:left;
		margin:auto;
		padding:0%;
	}
	
	.res_form div div div input
	{
		width:25%;
		height:30px;
		float:right;
		clear:right;
		margin:auto;
		padding:0%;
	}
	
	.res_form div div div select
	{
		width:10%;
		float:right;
		clear:right;
		margin:auto;
		padding:0%;
		color:rgba(255,143,0,1);
	}
	
	.res_form div div div textarea
	{
		width:auto;
		float:right;
		clear:right;
		margin:auto;
		padding:0%;
	}
}

@media screen and (min-width:480px)
{
	.res_form2
	{
		width:100%;
		float:left;
		clear:both;
		margin:auto;
		padding:0%;
		background-color:rgba(30,30,30,1);
		color:rgba(255,143,0,1);
	}
	
	.res_form2 div
	{
		width: 50%;
		margin:auto;
		padding:0%;
		clear:both;
		float:none;
	}
	
	.res_form2 div div
	{
		width:99%;
		margin:1% auto;
		float:left;
		padding:1%;
		clear:both;
		background-color:rgba(50,50,50,1.0);
	}
	
	.res_form2 div div div
	{
		width:98%;
		margin:1% auto;
		float:left;
		padding:1%;
		clear:both;
		background-color:rgba(70,70,70,1.0);
	}
	
	.res_form2 div div div h2
	{
		width:auto;
		height:auto;
		float:left;
		clear:left;
		margin:auto;
		padding:0%;
	}
	
	.res_form2 div div div input
	{
		width:25%;
		height:30px;
		float:right;
		clear:right;
		margin:auto;
		padding:0%;
	}
}