@media screen and (min-width:480px)
{
	.reservations_list_style
	{
		width:100%;
		margin:auto;
		padding:0%;
		float:left;
		clear:both;
		background-color:rgba(30,30,30,1.0);
	}
	
	.reservations_list_style div
	{
		width:95%;
		margin:auto;
		padding:0%;
		clear:both;
		float:none;
	}
	
	.reservations_list_style div div
	{
		width:100%;
		margin:1% auto;
		float:left;
		background-color:rgba(50,50,50,1.0);
		box-shadow:0px 0px 10px 2px rgba(0,0,0,0.25);
		transition:box-shadow 1s;
		transition-timing-function:cubic-bezier(0.25,1.0,0.25,1.0);
	}
	
	.reservations_list_style div div div
	{
		width:23%;
		min-width:200px;
		margin:1%;
		float:left;
		clear:none;
		background-color:rgba(70,70,70,1.0);
	}
	
	.reservations_list_style div div div h3
	{
		width:auto;
		margin:1%;
		padding:0%;
		float:left;
		clear:both;
	}
	
	.reservations_list_style div div:hover
	{
		box-shadow:0px 0px 10px 2px rgba(255,140,0,1.0);
	}
}